body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#headshot {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

#links {
    margin-top: 25px;
    width: 675px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#links > a {
   width: 100%;
   text-decoration: none;
   font-size: 15px;
   margin-bottom: 20px;
   background-color: transparent;
   border: 2px solid white;
   padding-top: 16px;
   padding-bottom: 16px;
   color: white;
   font-family: 'Montserrat', sans-serif;
   display: block;
   text-align: center;
   transition: 0.3s;
}
#links > a:hover {
    background-color: white;
    color: #23a6d5;
}

/* Pure CSS Gradient Background Animation via https://manuelpinto.in/ */
body {
	background: linear-gradient(-45deg, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}