body {
    margin: 0;
    padding: 0;
}
#intro_video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    display: block
}
#content {
    height: 100vh;
    width: 100%;
    background: #fafafa;
    background: linear-gradient(180deg, #fbfbfb 0%, #f9f9f9 50%);
}
*:focus {
    outline: 0;
    outline: none;
}
#social_icons {
    width: 75vw;
    margin: 0px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
}
.fa:hover {
      opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: #211F1F;
    color: white;
}
.fa-instagram {
    background: #B938B1;
    color: white;
}
.fa-envelope {
    background: #CB137B;
    color: white;
}